<p id="notice"><%= notice %></p>
<div class="container"> 
<h1>Blogs</h1>
<% @blogs.each do |blog| %>
    <div class="container">
<ul class="collection">

<h2><a href="<% blog_path(id: blog.id)%>"><p class="white-text text-darken-2"><%= blog.title %></p></a></h2>
        <p class="white-text"><%= blog.about %></p>
        <% blog.posts.each do |post|  %>
        <strong>Posts:</strong>
        <h3><%= post.date %></h3>
        <h1><%= post.title %></h1>
        <h6><%= post.content %></h6>
      </ul>
    <% end %>
      </div>
<% end %>

<br>
<%= link_to 'New Blog', new_blog_path %>
<%= link_to 'Home', root_path %>
</div>
