<nav class="animated flipInY">
  <div class="nav-wrapper">
    <a href=<%= root_path %> class="brand-logo center">
    <p class='z-depth-5'><h1 class="#c51162 pink accent-4 pink-text text-lighten-2">IMBUED BEAUTY</h1></p>
    </a>
  </div>
</nav>
<nav>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <a class="dropdown-button right hide-on-med-and-down" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a>
    <ul id="dropdown1" class="right hide-on-med-and-down dropdown-content">
      <li><a class="waves-effect waves-light btn" href="#modal1">About</a></li>
      <li><%= link_to 'Portfolio', portfolios_path %></li>
      <li><%= link_to 'Blog', blogs_path %></li>
      <li><a href="#">Bookings</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a class="waves-effect waves-light btn" href="#modal1">About</a></li>
      <li><%= link_to 'Portfolio', portfolios_path %></li>
      <li><%= link_to 'Blog', blogs_path %></li>
      <li><a href="#">Bookings</a></li>
    </ul>
  </div>
</nav>



